<div class="container">
  
<form #produitForm="ngForm" class="form-group">
    <table>
        
        <tr>
            <td> Code: </td>
            <td> <input class="form-control" required placeholder="code" type ="text" name="code" [(ngModel)]="nouveauProduit.code"/>
            </td>
        </tr>
        <tr>
            <td> Désignation: </td>
            <td> <input class="form-control" required placeholder="designation" type ="text" name="designation" [(ngModel)]="nouveauProduit.designation"/> </td>
        </tr>
        <tr>
            <td> Prix: </td>
            <td> <input class="form-control" required type ="text" placeholder="prix" name="prix" [(ngModel)]="nouveauProduit.prix"/> </td>
        </tr>
        <tr>
            <td>Categorie</td>
            <td>
              <!-- Dans votre template Angular -->
              <select class="form-control" name="categorie" [(ngModel)]="nouveauProduit.categorie" required>
                <ng-container *ngIf="categories">
                    <option *ngFor="let c of categories" [value]="c.id">{{ c.libelle }}</option>
                </ng-container>
              </select>
            
  
            </td>
          </tr>
    </table>
    <table class="table" style="margin-top: 5%;">
        <tr>
            <td  >
                <button type="submit"  class="btn btn-success" (click)="ajouterProduit(produitForm)"   [disabled]="!produitForm.form.valid" >ajouter <i class="bi bi-check-square"></i>
                </button>

                
            </td>
        </tr>
        <tr><td>
            <h3 style="color: green;">{{etatAjout}}</h3>
        </td></tr>
    </table>
</form>
</div>